@use '../helpers/variables' as *;
@use '../helpers/extends/extends' as *;

.vidget__title {
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: 0.2px;
	margin-bottom: 1.4rem;
}

.vidget__subtitle {
	font-size: 2rem;
	line-height: 1.8;
	opacity: 80%;
	color: $color_text_2;
	margin-bottom: 4rem;
}

.vidgets {
	display: flex;
	column-gap: 2.9rem;
}

.vidget__main_img {
	display: block;
	width: 55.5rem;
	height: 44.8rem;
	flex-shrink: 0;
	margin-bottom: 1.4rem;
}

.vidget__image {
	@extend %contain_img;
}

.vidget__data_main {
	font-size: 1.4rem;
	line-height: 1.8;
	opacity: 80%;
	color: $color_text_2;
	margin-bottom: 1rem;
}

.vidget__name_main {
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 1.16;
	color: $color_text_1;
	margin-bottom: 1.2rem;
}

.vidget__info {
	font-size: 1.4rem;
	line-height: 1.8;
	color: $color_text_2;
	opacity: 80%;
}

.vidget__right {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2.9rem;
}

.vidget__img {
	display: block;
	width: 26.3rem;
	height: 18.8rem;
	flex-shrink: 0;
	margin-bottom: 1.2rem;
}

.vidget__data {
    font-size: 1.4rem;
	line-height: 1.8;
	opacity: 80%;
	color: $color_text_2;
	margin-bottom: 0.8rem;
}

.vidget__name {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.55;
	color: $color_text_1;
	margin-bottom: 2.8rem;
}

