@use './helpers/reset';
@use './base';
@use './blocks/comments';
@use './blocks/helper.scss';
@use './blocks/footer.scss';
@use './blocks/companies.scss';
@use './blocks/header.scss';
@use './blocks/vidgets.scss';
@use './blocks/hero.scss';
@use './helpers/extends/buttons_extends';
@use './helpers/media';



